.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  background-color: var(--lms-purple-1);
  margin-bottom: 8px;

  & :global(.ant-card-body) {
    padding: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.activityData {
  display: flex;
  align-items: center;
  gap: 16px;

  .containerText {
    display: flex;
    flex-direction: column;

    .activityName {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 2px;
    }

    .activityDescription {
      font-size: 12px;
      line-height: 1;
      margin-bottom: 12px;
    }

    .activityTypeContainer {
      display: flex;
      justify-content: flex-start;
      font-size: 12px;
      line-height: 19px;
      gap: 4px;

      &.webinar {
        color: #7552FF;
      }

      &.meeting {
        color: #E64D8C;
      }

      &.lesson {
        color: #1DD886;
      }
    }
  }
}

.toActivityButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
}