.studentLayout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: var(--lms-purple-1);

  .leftSidebarContainer {
    display: flex;
    position: sticky;
    height: 100%;
    height: 100dvh;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
  }

  .rightSidebarContainer {
    display: flex;
    position: sticky;
    height: 100%;
    height: 100dvh;
    top: 0;
  }

  .contentContainer {
    margin: 0 auto;
  }

  .contentPaddingWrapper {
    padding: 24px;
  }
}