.closeIcon {
  position: fixed;
  top: 10px;
  right: 24px;
  @media screen and (min-width: 600px) {
    top: 32px;
  }
}
.hideScroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}